.tooltipDefaultContainer {
    max-width: 75vw;
    width: 500px;
    margin-left: 25vw;
    max-height: 90vh;
    background-color: #FFF;
    padding: 7px;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.myInfo{
    max-width: 45vw;
    padding: 20px;
    /* height: 60vh; */
    max-height: 1800px;    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background-color: #FFF;
    border-radius: 20px;
    position:absolute; 
    top:15%;
    left:50%;
    text-align: left;
}

.desp {
    text-align: left;
    background-color: #FFF;
    padding: 5px;
    height: 50vh;
    overflow-y: scroll;
}



/* .tooltipDefaultContainer {
    margin-left: 700px;
    background: #fff;
    
   
    width: auto;
    max-width: 3200px;
    
    max-height: 80vw;
       
} */

/* .tooltipDefaultContainerParagraph {
    font-size: 12px;
    margin-bottom: 6px;
    color: #666;
}

.tooltipDetailsContainer {
    position: absolute;
    right: 100px;
    display: flex;
    flex-shrink: 0;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

/* .tooltipDetailsContainerHidden {
    visibility: hidden;
    position: absolute;
    display: flex;
    pointer-events: none;
} */
