.tooltipDefaultContainer {
    max-width: 75vw;
    margin-left: 25vw;
    max-height: 90vh;
    background-color: #FFF;
    padding: 7px;
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /* width: auto;
    min-width: 50vw;
    min-height: 50vh;
    
    position: absolute;
    float: right !important;  */
    /* top: 100px; */
}

/* .tooltipDefaultContainer {
    margin-left: 700px;
    background: #fff;
    
   
    width: auto;
    max-width: 3200px;
    
    max-height: 80vw;
       
} */

/* .tooltipDefaultContainerParagraph {
    font-size: 12px;
    margin-bottom: 6px;
    color: #666;
}

.tooltipDetailsContainer {
    position: absolute;
    right: 100px;
    display: flex;
    flex-shrink: 0;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} */

/* .tooltipDetailsContainerHidden {
    visibility: hidden;
    position: absolute;
    display: flex;
    pointer-events: none;
} */
